.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #eaeded;
}
.logo {
  display: flex;
  padding: 20px;
  gap: 10px;
}
.menu {
  display: flex;
  gap: 40px;
  padding: 30px;
  list-style: none;
}
.menu li:hover {
  color: #088178;
}
.button {
  border: 1.5px solid var(--neutral-07, #2c2f24);
  border-radius: 100px;
  padding: 12px 24px;
}
.button:hover {
  background-color: red;
  color: #fff;
}
/* tabblet : width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .navbar {
    padding: 20px 40px; /* Điều chỉnh padding theo mong muốn */
    width: 754px;
    height: 130px;
  }

  .menu {
    padding: 20px; /* Điều chỉnh padding theo mong muốn */
  }

  .logo {
    padding: 20px; /* Điều chỉnh padding theo mong muốn */
    gap: 5px; /* Điều chỉnh khoảng cách giữa các phần tử trong logo */
  }

  .menu {
    gap: 20px; /* Điều chỉnh khoảng cách giữa các mục menu */
  }
  
  .button {
    padding: 10px 20px; /* Điều chỉnh padding theo mong muốn */
  }
}